//线性渐变
linear-gradient-compatible($color-star,$color-end)
  background: -webkit-linear-gradient(left, $color-star , $color-end); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, $color-star, $color-end); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, $color-star, $color-end); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, $color-star , $color-end); /* 标准的语法 */
//线性渐变
linear-gradient-compatible-updown($color-star,$color-end)
  background: -webkit-linear-gradient(top, $color-star , $color-end); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(bottom, $color-star, $color-end); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(bottom, $color-star, $color-end); /* Firefox 3.6 - 15 */
  background: linear-gradient(to bottom, $color-star , $color-end); /* 标准的语法 */
//过渡
transition-compatible($time)
  transition all $time;
  -moz-transition all $time; /* Firefox 4 */
  -webkit-transition all $time; /* Safari 和 Chrome */
  -o-transition all $time; /* Opera */

transform-compatible($dis)
  transform: $dis;
  -ms-transform: $dis; /* IE 9 */
  -webkit-transform: $dis; /* Safari and Chrome */

//输入框提示颜色
ipt-pr($color)
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $color
  }

  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $color
  }

  input:-ms-input-placeholder{
    color: $color
  }

  input::-webkit-input-placeholder{
          color: $color
        }

// 背景图片
bg-image($url)
  background-image: url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image: url($url + "@3x.png")

// 不换行
no-wrap()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

// 扩展点击区域
extend-click()
  position: relative
  &:before
    content: ''
    position: absolute
    top: -10px
    left: -10px
    right: -10px
    bottom: -10px


//可复制选择
user-select-tex()
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;

fixed-full-screen()
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  background-color #fff
  z-index 5

fixed-full-app-main()
  position: fixed
  width: 100%
  top: 0
  bottom: 50px
