// 颜色规范
$color-background = #fff
$color-dialog-background = #666
$color-background-sub = #f3f0f3
$color-border = #DBDBDB
$color-border-sub= #C6D0DA
$color-theme = #FF4800
$color-theme-hl = #758fff
/*$color-theme-dsa = #86bbf0*/
$color-sub-theme = #DA4333
/*$color-minor-theme = #0fb277
$color-small-theme = #243069*/
//$color-text-white = #ffffff
//$color-text-blue = #007eff
$color-text-base = #3B3B3B
$color-text-theme = #545454
$color-text-sub = #757575
$color-text-minor = #B4B5BC


//字体规范
$font-size-small-s = 12px
$font-size-small = 14px
$font-size-medium = 16px
$font-size-medium-x = 18px
$font-size-large = 20px
$font-size-large-x = 24px

//宽度规范
$wrapper-width = 1200px
$space-box=15px

//高度规范
